header {
    padding-left: 40px;
    padding-top: 20px;
}
/* Feel free to modify anything in this file.*/

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invis_button {
    background: transparent;
    border: none;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}
.vendor-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vendor-photo {
    height: 30vmin;
    width: 30vmin;
    margin: 1vw 4vw 1vw 4vw;
}

.vendor-book-button {
    font-size: 2em;
    margin: 10px;
}

.text {
    margin: 10px;
    width: 30vmin;
}
